<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/ico/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    {% if title %}
    <title> {{title}} | KwaMashu Community Advincement Project-EMAC</title>
    {% else %}
    <title>KwaMashu Community Advincement Project</title>
    {% endif %}
</head>
<body class="bg-brand-lavender">

   {# <a href="{{url_for('auth.logout')}}" class="btn btn-danger">logout</a>#}
    {% block body %}
    
    {% endblock body %}

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>