<div class="container-fluid banner">
    <p class="display-5 fw-bold text-white text-center mb-3">"Empowering Through Arts and Multimedia"</p>
    <div class="container p-3 ">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12 p-5 align-self-center border-top border-3 border-start">
                <div class="carousel slide mb-3" id="myCarousel" data-bs-ride="carousel">
                    <div class="carousel-inner text-center text-white fw-bolder display-5">
                        <div class="carousel-item active">
                            DISCOVER
                        </div>
                        <div class="carousel-item">
                            DEVELOPE
                        </div>
                        <div class="carousel-item">
                            EXPOSE
                        </div>
                    </div>
                </div>
               <div class="row">
                <div class="col-auto">
                    <a href="#" class="btn btn-brand-orange text-white fw-bold">Learn More...</a>
                </div>
                <div class="col">
                    <a href="{{url_for('auth.register')}}" class="btn btn-brand-orange text-white fw-bold">Sign Up</a>
                </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 border-bottom border-end border-3 text-center">
                <div class="p-3">
                    <img src="{{url_for('static', filename='imgs/npg/kcap30w.png')}}" class="img-fluid" width="350" alt="" srcset="">
                </div>
            </div>
        </div>
        <p class="text-white fw-bold fs-1 text-end"><i class="bi bi-emoji-heart-eyes"></i></p>
    </div>
</div>