{% extends "base.html" %}


{% block body %}

<div class="container-fluid text-white">

<div class="container mt-5">
    <h1>Who We Are</h1>
    
    <div class="border-brand-orange flex-grow-1 p-3 border-1 rounded mb-3">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-6 align-self-stretch d-flex flex-column">
                <div class="row justify-content-center">
                    <div class="col-auto align-self-center">
                        <i class="bi bi-flag fs-1"></i>
                    </div>
                    <div class="col">
                    <h2>Mission</h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <p>The purpose of KCAP EMAC is to discover, develop, expose, and contribute artists towards sustainable employment opportunities and to provide creative, quality arts and entertainment to the community.</p>

            </div>
        </div>
    </div>
    <h2>Vision</h2>
    <p>KCAP (EMAC) is a leading community organisation in South Africa, successfully contributing towards the creation of a positive and vibrant artistic environment where various forms of arts are developed and appreciated by the majority. This enhances the quality of life for youth, artists, and people in the community.</p>

    <h2>Our History</h2>
    <p>The Kwa Mashu Community Advancement Projects (K-CAP) is a non-profit organization (012-391 NPO) founded in 1993. It is a unique integrated arts organization in KwaZulu-Natal and the only one that has built its own unique Ekhaya Multi Arts Centre in Kwa Mashu, the oldest township of Durban. K-CAP has a reputation for producing internationally acclaimed theatre productions annually, implementing reputable integrated arts training programs, and running annual events of national and international status.</p>

    <h2>Leadership</h2>
    <p>Edmund Mhlongo, the current Artistic Director and founder, has been instrumental in the success of the organization. His vision and leadership have fostered artistic excellence and community engagement, making K-CAP a cornerstone of the local arts scene.</p>

    <h2>Our Community</h2>
    <p>K-CAP is deeply embedded in the Kwa Mashu community. The township, located 20kms north of Durban, was originally created in 1958 through forced removals from Cato Manor (Mkhumbane) and became the first township in Durban. Despite historical challenges, including high rates of unemployment and crime, Kwa Mashu is known for its rich cultural heritage and has produced many of South Africa's renowned artists in screen, theatre, music, and dance.</p>
    <p>Today, Kwa Mashu is a vibrant community with a population of over 800,000 people, including a significant number of young people and women. The area is a focal point for urban renewal and cultural development, with initiatives aimed at job creation, poverty alleviation, and social cohesion.</p>

    <h2>Our Facilities</h2>
    <p>The Ekhaya Multi Arts Centre (EMAC) opened in September 2003, realizing the vision of the Kwa Mashu Community Advancement Projects for integrated arts development in Kwa Mashu Township. This multi-purpose space includes facilities such as:</p>
    <ul>
        <li>Ekhaya Compute Lab (with Internet)</li>
        <li>Music Recording Studio</li>
        <li>Theatre Facility</li>
        <li>Dance Studio</li>
        <li>Workshop Space</li>
        <li>Video Editing multi-media suite</li>
        <li>Community radio VIBE FM facilities</li>
    </ul>
    <p>The centre offers a wide variety of programs each year, engaging the community in radio drama, creative script writing, video production, film festivals, traditional arts and cultural activities, and African arts. It serves as a hub for artistic expression and cultural preservation, making a significant impact on the local and broader arts landscape.</p>
    
    <h2>Our Impact</h2>
    <p>K-CAP's efforts have led to the production of internationally acclaimed theatre productions, the implementation of reputable integrated arts training programs, and the hosting of events with national and international significance. The organization's work has not only nurtured local talent but has also positioned Kwa Mashu as a cultural beacon in South Africa.</p>

</div>
</div>


{% endblock body  %}



