 <!-- Fab starts here  -->

 <div class="fab-container">
    <div class="fabd fab fab-icon-holder">
        <i class="fas fa-question"></i>
    </div>
    <ul class="fab-obtions">
        <li>
            <span class="fab-label">Donate</span>
            <div class="fab-icon-holder">
                <i class="fas fa-hands"></i>
            </div>
        </li>
        <li>
            <span class="fab-label">Sponser</span>
            <div class="fab-icon-holder">
                <i class="fas fa-hand-holding-heart"></i>
            </div>
        </li>
        <li>
            <span class="fab-label">Email Us</span>
            <div class="fab-icon-holder">
                <i class="fas fa-envelope">
                    <a href="mailto: info@venexplorer.co.za"></a>
                </i>
            </div>
        </li>
        <li>
            <span class="fab-label">WhatsApp Us</span>
            <div class="fab-icon-holder">
                <a href="https://wa.me/+27813809791" class="what">
                    <i class="fab fa-whatsapp">
                    </i>
                </a>
            </div>
        </li>
    </ul>
</div>
